body {
    margin: 0;
    background-image: url("../images/green_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(41, 70, 24, 0.6);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

#about .card {
    margin: 40px auto;
}

#about .card img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 300px;
    margin-top: -125px; /* Half the height */
    margin-left: -150px;
    padding-left: 40px;
}

.card, .card-img {
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.card-title, .card-text {
    margin-left: 20px;
}

footer {
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 	rgb(14, 16, 3, .8) !important;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
  }

h1, h2 {
    color: #F2DAB5;
    font-family: 'Architects Daughter', cursive;
}

hr {
    border: 1px solid #F2DAB5;
}

.jumbotron {
    background-color: 	rgb(14, 16, 3, .8) !important;
}

.logo {
    margin: auto;
    height: 250px;
    width: 250px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

.nav {
    border-radius: 10px;
}

.nav-link {
    color: #F2DAB5 !important;
}

.nav-link:hover {
    background-color: #F2DAB5;
    color: rgb(14, 16, 3) !important;
}

.logo-img {
    display: inline-flex;
    float: right;
    height: 200px;
    width: 200px;
}

.section {
    background-color: 	rgb(14, 16, 3, .8) !important;
    border-radius: 20px;
    padding: 40px;
    margin: 40px auto;
    width: 80%;
}